html{
    height: 100%;

}
body{
    min-height:100%;
    padding-bottom: 20px;
}

.navbar{
    background-color: #99ffbb;
}
.fa-subway{
    font-size: 50px;
    margin-left: 20px;
}
.header{
    color: white;
    background-color: #ff1a1a;
    padding: 6px;
    border: 3px solid black;
    font-family: 'Capriola', sans-serif;
}
.jumbotron{
    background-color:white;
    padding-top: 2px;
    padding-bottom: 120px;
    height:1000px;
}
.title{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 5px;
    font-family: 'Baloo Bhaina', cursive;
}
.container{
    background-image: rgba(255,255,255,0.5) url("http://www.saic.edu/150/sites/default/files/Monopoly.jpg") ;
    height: 500px; 
    background-position: center;
    background-repeat: repeat; 
    background-size: cover;
    filter: alpha(opacity=50);
    font-weight: bolder;
}
img{
  height: 100px;
  width: 100px;
}
.position{
    color:black;
    font-weight: bolder;
    outline-color: #87CEEB;
    border: 2px solid #87CEEB;
    text-align: center;
    padding-bottom: 0px; 
    margin-bottom: 30px;
    margin-right: 5px;
}
.position:hover{
    background-color: #87CEEB;
    color: white;
    outline-color: #87CEEB;
    border: 2px solid #87CEEB;
}
h4{
    margin-top: 8px;
}
.col{
    width: 30px;
}
.success{
    color:#000000;
    outline-color: #33cc33;
    border: 2px solid #33cc33;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-right: 5px;

}
.success:hover{
    background-color: #33cc33;
    color: white;
    outline-color: #33cc33;
    border: 2px solid #33cc33;
    font-family: 'Ubuntu', sans-serif;
}
.card{
    margin-top: -30px;
    margin-right: 0%;
    width: 100%;
    margin-right: 0%;
}
.card:hover{
    transform: translateY(-3rem);
    transition: -webkit-transform 0.10s ease;
    border: 3px solid black;
    border-radius: 6px;

}
.card-header{
    background: #008000
}
button{
    background-color: transparent;
    border: none;
}
.fa-plus{
    font-size: 10px;
}
.fa-minus{
    font-size: 10px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: #99FFBB;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

p {
    margin: 20px auto 0px;
    font-family: 'Lato', sans-serif;
}

#newPlayerName {
    width: 70%;
    display: inline-block;
    margin: 15px auto;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000000;
    outline: none;
}

#newPlayerName:focus {
    width: 70%;
    display: inline-block;
    margin: 15px auto;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}


#modalAddPlayer {
    border: solid 2px #FFFFFF;
    border-radius: 9px;
    background-color: #eb0000;
    padding: 10px;
    margin: 30px auto 30px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    display: block;
    filter: drop-shadow(4px 4px 4px #00BBAA);    
}

.fa-hotel{
    color: #ff1a1a;
}

.fa-home{
    color: #008000;
}