.navbar{
    background-color: #ccffdd
    !important;
}
.header{
    background-color:#ff1a1a
    !important;
    color:white
    !important;
    padding: 5px;
    border-style: solid;
    border: 4px black;
}